#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}

.trip {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid black;
  margin-bottom: 15px;
  padding: 10px;
  gap: 15px;
}
.trip img {
  width: 40%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.allInclusive {
  background-color: #0a035a;

  color: white;

  padding: 10px;

  border-radius: 8px;
}

.greatDeal {
  background-color: #185a12;

  color: white;

  padding: 10px;

  border-radius: 8px;
}

.deals {
  display: flex;

  gap: 10px;

  align-items: center;
}

.delete {
  background-color: gray;
  color: #000;
}
